.title{
	text-align: center;
	color: var(--primary);
	font-weight: bold;
	padding-top: 70px;
	font-size: 65px;
}
.desktopth{
	width: 200px;
	height: 32px;
	color: black;
	font-weight: bold;
    font-size: 200%;
    margin-left: 1000px;
}
.materiadesk{
	width: 200px;
	height: 32px;
	color: black;
	text-align: center;
	font-size: 100%
}
