.container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 3fr .1fr;
    grid-template-areas: 
        "h2 h2 h1 h1 menu menu menu"
        "none segunda terca quarta quinta sexta none"
        "footer footer footer footer footer footer footer"
    ;
}

.title{
    position: relative;
    grid-area: h1;
    text-align: center;
    transform: translate(50%);
	color: var(--primary);
	font-weight: bold;
	padding-top: 70px;
	font-size: 65px;
}
.desktopth{
	width: 200px;
	height: 32px;
	color: var(--light);
	font-weight: bold;
    font-size: 200%;
    margin-left: 1000px;
}
.materiadesk{
	width: 200px;
	height: 32px;
	color: var(--light);
	text-align: center;
	font-size: 100%
}
.desktop{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.mobile{
	display: none;
	position: absolute;
    top: 554px;
    left: 50%;
    transform: translate(-50%, -50%);

}
.mobileth{
	width: 200px;
	height: 28px;
	color: var(--light);
	font-weight: bold;
	font-size: 110%;
	padding-top: 10px;
}

.dia {
    background: var(--dark);
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#segunda {
    grid-area: segunda;   
}
#terca {
    grid-area: terca;   
}
#quarta {
    grid-area: quarta;   
}
#quinta {
    grid-area: quinta;   
}
#sexta {
    grid-area: sexta;   
}