body{
    height: 100vh;
}
/* grid */
.container{
    grid-template-columns:.5fr 1fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-rows: .2fr 1fr 3fr .1fr;
    grid-template-areas: 
        "h2 h2 h2 space1 menu menu menu"
        "title title title title title title title"
        "space seg ter qua qui sex content6"
        "footer footer footer footer footer footer footer"
    ;
} 
.title{
    grid-area: title;
    margin-top: 7vh;
    font-size: 10vh;
    color: var(--primary);
    text-align: center;
}
#seg{
    grid-area: seg;
}
#ter{
    grid-area: ter;
}
#qua{
    grid-area: qua;
}
#qui{
    grid-area: qui;
}
#sex{
    grid-area: sex;
}
/* tabelas */
.table{
    background: var(--dark);
    max-height: 50vh;
    border-radius: 5vh;
    color: white;
    text-align: center;
}
.table ~ .table{
    margin-left: 10px;
}
.table h3{
    font-size: 4vh;
    margin: 10vh 0 2vh 0;
}
.table p{
    font-size: 2.5vh;
    line-height: 3.5vh;
    font-weight: 600;
}
p span{
    color: var(--primary);
}