/* normalize */
*{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* grid */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: .2fr 3fr .2fr;
    grid-template-areas: 
        "nav nav sidebar"
        "space main content6"
        "footer footer footer"
    ;
    grid-gap: .2rem;
}
h2{
    background: #5fbfff;
    grid-area: nav;
}
main{
    background: #3eb2ff;
    grid-area: main;
}
#menu{
    background: #0098fd;
    grid-area: sidebar;
}
footer{
    background: #2d5b7a;
    grid-area: footer;
}